.idea/workspace.xml
.idea/libraries
.idea/dbnavigator.xml
*.ipr
*.iws
*.DS_Store
*.bak
*.iml
target
staging
overlays
examples
pom.xml.bak
pom.xml.releaseBackup
release.properties
logs/
.logs
*.classpath
*.settings
*.project
*/bin/
*/test-output/
*/src/test/resources/*.jar
dependency-reduced-pom.xml
dependency-reduced-pom.xml.bak
.idea/dictionaries/
